body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#222;
    color: white;

}

/* afor all */
.orrange
{
    color: #FD6F00;
    
}

.btn-primary
{
    background-color: #FD6F00;
    color: white;
    padding: 15px 20px;

}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    max-width:1230px;
    /* border: 2px solid red; */
    margin: 0 auto;
    
}

.header-section
{
    margin-top: 30px;
    display: flex;
    justify-content:space-around;
    align-items: center;
} 

.nav-section
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-section .nav{
    margin-left: 30px;

}
.nav a{
    text-decoration: none;
    color: white;

}

.logo
{
    font-weight: 700;
}

.nav{
    font-size: 1rem;
}
/* Bannar section design */

.banner

{
    max-width: 1230px;
    margin: 30px auto;
    /* border: 1px solid yellow; */
}


.my-self{
    margin: 30px 30px;
}

.my-text h1{
    line-height: 1.5;
}

.my-text p
{
    
    font-size: 13px;
    color: #e0c8c8;
}
.short-icon
{
    margin-top: 10px;
}

.my-btn
{
    display: flex;
    border: 2px solid white;
    border-radius: 15px;
    width:20%;
}


/* Award section design */


.awards-section {
    text-align: center;
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.description {
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 30px;
    
}

.award {
    background-color: #222;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.award-title {
    font-size: 0.9rem;
    margin-bottom: 10px;
    text-align: justify;
}

.award-body {
    font-size: 0.7rem;
    color: #ddd;
    margin-bottom: 15px;
    text-align: justify;
    line-height: 1.5;
}

.award-category {
    font-size: 0.9em;
    color: #bbb;
}




/* query for nav section */
@media screen  and (max-width:576px)
{

    .header-section,.nav-section,.award
    {
        flex-direction: column;
    }
    .nav-section,.nav-section>.nav{
        margin-top: 20px;
    }

    
}
