body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#222;
    color: white;

}

/* afor all */
.orrange
{
    color: #FD6F00;
    
}

.btn-primary
{
    background-color: #FD6F00;
    color: white;
    padding: 15px 20px;
    border: 0;
    border-radius: 5px;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    max-width:1230px;
    /* border: 2px solid red; */
    margin: 0 auto;
    
}

.header-section
{
    margin-top: 30px;
    display: flex;
    justify-content:space-around;
    align-items: center;
} 

.nav-section
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-section .nav{
    margin-left: 30px;

}
.nav a{
    text-decoration: none;
    color: white;

}

.logo
{
    font-weight: 700;
}

.nav{
    font-size: 1rem;
}
/* Bannar section design */

.banner

{
    max-width: 1230px;
    margin: 30px auto;
    /* border: 1px solid yellow; */
}


.my-self{
    margin: 30px 30px;
}

.my-text h1{
    line-height: 1.5;
}

.my-text p
{
    
    font-size: 13px;
    color: #e0c8c8;
}
.short-icon
{
    margin-top: 10px;
}

.my-btn
{
    display: flex;
    border: 2px solid white;
    border-radius: 15px;
    width:20%;
}


/* Experience section design */



.experience-section {
    display: flex;
    /* justify-content: space-evenly; */
    max-width: 1000px;
    margin: 40px auto;
    padding: 30px;
    background: linear-gradient(to right, #2c2c2c, #1c1c1c);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.experience-content {
    width: 50%;

}

.small-title {
    font-size: 1rem;
    margin-bottom: 10px;
}

.main-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.description {
    font-size: 1em;
    line-height: 1.6;
    text-align: justify;
}

.experience-list {
    width: 50%;
    margin-left: 70px;
}

.experience-item {
    margin-bottom: 20px;

}

.experience-date {
    font-size: 1em;
    color: #bbb;
    margin-bottom: 5px;
}

.experience-role {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.experience-company {
    font-size: 1em;
    color: #888;
}


/* Award section design */


.awards-section {
    text-align: center;
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.description {
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 30px;
    
}

.award {
    background-color: #222;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.award-title {
    font-size: 0.9rem;
    margin-bottom: 10px;
    text-align: justify;
}

.award-body {
    font-size: 0.7rem;
    color: #ddd;
    margin-bottom: 15px;
    text-align: justify;
    line-height: 1.5;
}

.award-category {
    font-size: 0.9em;
    color: #bbb;
}

/* Form section design
 */

.contact-section {
    
    margin: 50px auto;
    max-width: 900px;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    
}

.contact-section>h1,.contact-section>h2{
    text-align: center;
}

.small-title {
    font-size: 1em;
    margin-bottom: 5px;
}

.main-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-form {
    background-color: #3b2618;
    padding: 20px;
    border-radius: 5px;
}

.form-title {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group input {
    width: 48%;
    padding: 10px;
    font-size: 1em;
    border: 0;
    border-bottom: 3px solid white;
    background-color:#3b2618 ;
    font-weight: 600;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 1em;
    border: 0;
    border-bottom: 3px solid white;
    background-color:#3b2618;
    margin-bottom: 20px;
    resize: none;
}



.file-input {
    margin-bottom: 20px;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    border: 0;
    
}

.custom-file-upload input[type="file"] {
    display: none;
    
}


.submit-btn:hover {
    background-color: #e55a00;
}





/* query for nav section */
@media screen  and (max-width:576px)
{

    .header-section,
    .nav-section,
    .award,
    
    .form-group ,
    .experience-section
    {
        flex-direction: column;
    }

    .form-group input,.experience-content 
    {
        width: 100%;
    } 
    .nav-section,.nav-section>.nav{
        margin-top: 20px;
    }

    
}
